<html>
<head></head>
<body style="font-family:Helvetica Neue;background-color:#55B4B0;margin:40px;">
<h1 style="color:#9B2335">Hello from {{hostname}}</h1>
<p>These are my notes:</p>
{{#each messages}}
  <p style="font-family: 'Helvetica Neue'">
  {{this.text}} <br /><small style="color:#275956">
    {{#if this.updated}}
      <strong>edited</strong> {{this.updated}}
      <br/><strong>originial:</strong> {{this.created}}

    {{else}}
      {{this.created}}
    {{/if}}
    <br />{{this.id}}
  </small>
  </p>
{{/each}}
</body>
</html>